.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.footer {
  background-color: #D1C4E9;
  margin: 0px auto;
  padding: 20px 0px; }

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background: #2B1B53;
  color: floralwhite; }

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

body {
  padding: 50px 0px 0px 0px;
  z-index: 0; }

.navbar-dark {
  background-color: #535166; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

.carousel {
  background: #535166; }
  .carousel .carousel-item {
    height: 300px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px; }

#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1; }
  
.dropdown-menu{

  background-color: #535166; }
 
 
.nav-pills > .active > a, .nav-pills > .active > a:hover {
background-color: grey;
}
.nav-pills.nav-link.active, .nav-pills.nav-link.active:focus,
.nav-pills.nav-link.active:hover,
.nav-pills.nav-item.open.nav-link,
.nav-pills.nav-item.open.nav-link:focus,
.nav-pills.nav-item.open.nav-link:hover {
background-color: grey;
}
/* .modal-body {
  background: #D1C4E9; }
*/
.modal {
  position: relative
}

 
  .navbar-myphoto.navbar-nav > li.active > a {
    background-color: #504747;
    color: gray;
    }
    .navbar-myphoto.dropdown-menu {
    background-color: #504747;
    border-color: black;
    }
    .navbar-myphoto.dropdown-menu > a {
    color: white;
    background-color: #504747;
    }
    .navbar-myphoto.dropdown-menu > a:hover {
    color: gray;
    background-color: #504747;
    }
    .navbar-myphoto.dropdown-menu > a:focus {
    color: gray;
    background-color: #504747;
    }
    .navbar-myphoto.dropdown-menu > .active > a:focus {
    color: gray;
    background-color: #504747;
    }
    /* h1, h2, h3, h4, h5, h6, .nav, .navbar {
      font-family: 'Poiret One', cursive;
      }
      body {
      font-family: 'Lato', cursive;
      } */

      #exampleModalLabel {
        width: 100%;
      }
      
      #test {
        float: right;
      }

      /* CSS Document */
/* ---------- FONTAWESOME ---------- */
/* ---------- http://fortawesome.github.com/Font-Awesome/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* ---------- ERIC MEYER'S RESET CSS ---------- */
/* ---------- http://meyerweb.com/eric/tools/css/reset/ ---------- */
@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);
/* ---------- FONTAWESOME ---------- */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */
* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
*:before, *:after {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

.body {
  background: #2c3338;
  color: #606468;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}

.a {
  color: #eee;
  text-decoration: none;
}

.a:hover {
  text-decoration: underline;
}

.input {
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}

.p {
  line-height: 1.5em;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}

 

/* ---------- LOGIN ---------- */
#login {
  width: 280px;
}
#exampleInputEmail3{

  background-color: #ddd;

}
#login form span {
  background-color: #363b41;
  border-radius: 3px 0px 0px 3px;
  color: #606468;
  display: block;
  float: left;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}

#login form input {
  height: 50px;
}

#login form input[type="text"], input[type="password"] {
  background-color: #3b4148;
  border-radius: 0px 3px 3px 0px;
  color: #606468;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 230px;
}

#login form input[type="submit"] {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #ea4c88;
  color: #eee;
  font-weight: bold;
  margin-bottom: 2em;
  text-transform: uppercase;
  width: 280px;
}

#login form input[type="submit"]:hover {
  background-color: #d44179;
}

#login > p {
  text-align: center;
}

#login > p span {
  padding-left: 5px;
}
